@import '~styles/variables.scss';
.fuel-cut {
  display: flex;
  flex-direction: row;
  background-color: $footer-bg;
  padding: 10px 15px 10px 15px;
  align-items: center;

  & .right-controls {
    margin-left: auto;
  }

  & .cut-label {
    font-weight: bold;
    color: $primary-color;
    margin-left: 10px;
  }
}