@import '~styles/utils.scss';
@import '~styles/variables.scss';

.config-alarm-item-container {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 25px;
  align-items: center;
  & > i {
    font-size: 30px;
    color: #8c909f;
    margin-right: 15px;
  }
  & > .time-days-container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    & > span {
      @include font-properties(30px, #d1d1d1, 400, 30px);
    }
    & > div{
      margin-top: 5px;
      & > span {
        @include font-properties(14px, $primary-color, 400, 14px);
        margin-left: 5px;
      }
    }
  }
  & > .icon-arrow {
    margin-left: 15px;
    font-size: 20px;
  }
}
