@import '~styles/variables.scss';

.main-layout-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  .grey-container {
    background-color: white;
    border: 1px solid $grey-app-background;
  }

  .main-layout-content-column {
    width: 50%;
  }
}

.margin-r-10 {
  margin-right: 10px;
}
