/* eslint-disable */

var CLIENT_KEY = "$CLIENT_KEY";
var CLIENT_SECRET = "$CLIENT_SECRET";
var BASE_URL = "$BASE_URL";
var GOOGLE_ANALYTICS_TRACK_ID = "$GOOGLE_ANALYTICS_TRACK_ID";
var GOOGLE_TAG_MANAGER_ID = "$GOOGLE_TAG_MANAGER_ID";
