@import '~styles/variables.scss';
@import '~styles/utils.scss';

.title-container{
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  background-color: $footer-bg;
  color: $secondary-color;
  min-height: 68px;
  max-height: 68px;

  .title-right-panel{
    margin-right: auto;
    margin-bottom: 18px;
    @include font-properties(16px, $card-secondary-title-color, 500, 16px);
  }
}