//Colors
$primary-color: #e2147e; //Magenta
$secondary-color: #1f2848; //Blue
$secondary-color-2: #1e2849;

// Grey
$grey: #6f768b;
$light-grey: #f3f3f3;
$mid-grey: #A9A9A9;

// Magenta
$magenta: #e10b81;
$light-magenta: #fd7bc3;
$dark-magenta:#7f0e4c;
$light-blue: #7e7bfd;
$light-green: #93fd7b;
$card-panel-bg: #e4e4e4;
$footer-bg: #f7f7f7;
$grey-app-background: #D8D4D1;
$dark-app-disclaimer-background: #242321;
$secondary-text-color: #6f768b;
$success-green: #61c266;
$text-grey: #808080;
$delete-color: #c50707;
$item-separator: #e4e4e4;
$item-hover: #e7e7e7;
$primary-background-color: #ffffff;
$disabled-color: $mid-grey;
$dark-text: #565656;

$error-color: #c50707;
$success-color: #07c507;

//Card Colors
$card-primary-text-color: #5d5d5d;
$card-secondary-title-color: #1f2848;
$card-secondary-text-color: #a3a3a3;

//Card Expanded
$inactive-trip-color: #8e93a6;

$soft-highlight-color: #d7d7d7;

//Main Font
$roboto: "Roboto", Helvetica, Arial, sans-serif;
$roboto-thin: 100;
$roboto-light: 300;
$roboto-regular: 400;
$roboto-medium: 500;
$roboto-bold: 600;

$icomoon-font-path: "icons" !default;
// Fonts
$icon-service-moto: "\e91d";
$icon-collapse-arrow: "\e91c";
$icon-shared-location: "\e91b";
$icon-checked: "\e902";
$icon-multiply: "\e904";
$icon-service_test: "\e905";
$icon-service-agenda: "\e901";
$icon-alarm-calendar: "\e900";
$icon-add-sign: "\e903";
$icon-alarm-on: "\e916";
$icon-alarm-off: "\e921";
$icon-auto: "\e922";
$icon-battery-mid: "\e92d";
$icon-battery-low: "\e92e";
$icon-battery-full: "\e92f";
$icon-home: "\e932";
$icon-arrow: "\e933";
$icon-arrow-expanded: "\e934";
$icon-ontrip: "\e935";
$icon-flex: "\e936";
$icon-notification: "\e923";
$icon-dates: "\e924";
$icon-user: "\e929";
$icon-velocity: "\e92b";
$icon-safe-place: "\e92a";
$icon-operations: "\e930";
$icon-configuration: "\e931";
$icon-strix: "\e93b";
$icon-profile: "\e93a";
$icon-bills: "\e939";
$icon-car-pin: "\e938";
$icon-home-pin: "\e937";
$icon-flex-pin: "\e925";
$icon-service-car: "\e926";
$icon-service-home: "\e927";
$icon-service-custody: "\e928";
$icon-service-flex: "\e92c";
$icon-alarm-calendar2: "\e906";
$icon-service-agenda2: "\e907";
$icon-checked2: "\e908";
$icon-add-sign2: "\e909";
$icon-multiply2: "\e90a";
$icon-service_test2: "\e90b";
$icon-technical_verification: "\e90c";
$icon-official_service: "\e90d";
$icon-tire_rotation: "\e90e";
$icon-fluids_control: "\e90f";
$icon-drivers_license_renewal: "\e910";
$icon-distribution_kit_control: "\e911";
$icon-polen_filter_change: "\e912";
$icon-fuel_filter_change: "\e913";
$icon-air_filter_change: "\e914";
$icon-brakes_control: "\e915";
$icon-oil_change: "\e917";
$icon-spark_plugs_change: "\e918";
$icon-suspension_change: "\e919";
$icon-alarm-on2: "\e91a";
$icon-alarm-off2: "\e93c";
$icon-auto2: "\e93d";
$icon-notification2: "\e93e";
$icon-dates2: "\e93f";
$icon-flex-pin2: "\e940";
$icon-service-car2: "\e941";
$icon-service-home2: "\e942";
$icon-service-custody2: "\e943";
$icon-user2: "\e944";
$icon-safe-place2: "\e945";
$icon-velocity2: "\e946";
$icon-service-flex2: "\e947";
$icon-battery-mid2: "\e948";
$icon-battery-low2: "\e949";
$icon-battery-full2: "\e94a";
$icon-operations2: "\e94b";
$icon-configuration2: "\e94c";
$icon-home2: "\e94d";
$icon-arrow2: "\e94e";
$icon-arrow-expanded2: "\e94f";
$icon-ontrip2: "\e950";
$icon-flex2: "\e951";
$icon-home-pin2: "\e952";
$icon-car-pin2: "\e953";
$icon-bills2: "\e954";
$icon-profile2: "\e955";
$icon-strix2: "\e956";
$icon-spinner2: "\e97b";
$icon-spinner: "\e97a";
$icon-blocked: "\ea0e";
$icon-email: "\e91e";
$icon-forward: "\e91f";
$icon-link: "\e920";
$icon-refresh: "\e922";
$icon-no-connection: "\e957";
