@import '~styles/variables.scss';

.information-bar {
  cursor: default;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  width: 100%;

  &.error {
    background-color: $light-magenta;
  }

  &.information {
    background-color: $light-blue;
  }

  &.success {
    background-color: $light-green;
  }

  &>.icon {
    padding-right: 10px;
  }

  & .action-bar {
    display: flex;
    margin-left: auto;

    &>.action {
      cursor: pointer;
    }
  }
}