@import '~styles/utils.scss';
@import '~styles/variables.scss';

.flex-item-container {
  position: relative;
  padding: 8px 25px 7px 25px;
  display: flex;
  align-items: center;
  &:last-child{
    .from-data-container{
      .timeline-icon{
        &:before{
          display: none;
        }
      }
    }
  }
  .from-data-container,
  .to-data-container {
    display: inline-block;
    width: 70%;

    .time {
      margin-right: 15px;
    }
  }

  .from-data-container {
    margin-bottom: 20px;
  }

  .link-container {
    flex-grow: 1;
    text-align: right;
    background-color: #FFF;

    a {
      text-decoration: none;

      & > .icon {
        font-size: 24px;
        color: #8e93a6;
      }
    }
  }
}

.location-item-active {
  color: #fff;
  background-color: #1f2848;

  .link-container {
    background: transparent;

    a {
      & > .icon {
        color: #FFF;
      }
    }
  }
  .from-data-container {
    .time, .address { 
      color: white !important;
    }
    .end {
      fill: #FFF;
    }
  }
}
