@import '~styles/variables.scss';
@import '~styles/strix-icons.scss';
@import '~styles/utils.scss';

.forgot-password-container-successful{
  h1{
    @include font-properties(24px, $primary-color, 500, 24px);
    margin-bottom: 40px;
  }
  p{
    @include font-properties(15px, $secondary-color, 400, 15px);
    margin-bottom: 60px;
  }
  .apps-container{
    img{
      margin-right: 15px;
    }
  }
}
