@import '~styles/variables.scss';
@import '~styles/strix-icons.scss';
@import '~styles/utils.scss';

.create-password-container{

  h1{
    @include font-properties(24px, $primary-color, 500, 24px);
    margin-bottom: 40px;
  }

  p{
    @include font-properties(15px, $secondary-color, 400, 18px);
    line-height: 18px;
    margin-bottom: 60px;
    width: 30%;
  }

  .form-create-password{
    padding: 0;

    input[type=password] {
      border: none;
      background-color: #F8F8F8;
      box-shadow: none;
      margin: 5px 0;
      border-radius: 0;
      width: 35%;
    }
    .TOS-checkbox{
      margin-top: 25px;
      input[type=checkbox] {
        margin-right: 10px;
      }
      label{
        font-weight: 400;
        a{
          color: #000;
          text-decoration: underline;
        }
      }
    }
    .btn-continuar{
      background-color: $primary-color;
      font-size: 1em;
      border: 0;
      width: 20%;
      margin-top: 4rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .create-password-container{

    p{
      @include font-properties(11px, $secondary-color, 400, 11px);
      line-height: 18px;
      margin-bottom: 60px;
      width: 30%;
    }

    .form-create-password{
      padding: 0;

      input[type=password] {
        font-size: 12px;
        margin: 5px 0;
        height: 25px;
      }
      .TOS-checkbox{
        input[type=checkbox] {
          width: 15px!important;
          margin-right: 10px;
        }
      }
      .btn-continuar{
        font-size: 1em;
        border: 0;
        width: 200px!important;
        margin-top: 4rem;
      }
    }
  }
}

