@import '~styles/variables.scss';
@import '~styles/strix-icons.scss';
@import '~styles/utils.scss';

.login-info {
    display: flex;
    position: relative;
    color: #FFF;
    @include font-properties(14px, #fff, 400, 10px);
    align-items: center;
    .user-info{
      margin-right: 20px;
    }
    & > .user-circle {
        display: inline-block;
        text-align: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $primary-color;
        line-height: 24px;
        margin-right: 5px;

        & > .icon {
            font-size: 16px;
            color: #FFF;
            vertical-align: middle;
        }
    }

    .logout-link {
      display: block;
      margin-top: 8px;
      @include font-properties(10px, #fff, 400, 10px);
      cursor: pointer;
    }
  }
