@import '~styles/variables.scss';

.strix-dashboard-footer {
  background-color: $footer-bg;
  text-align: center;
  padding: 30px 0;
  font-size: 12px;
  color: #96908f;

  p {
    margin: 0;
  }
  a{
    color: #96908f;
    &:hover{
      color: $secondary-color;
    }
  }
}
