@import '~styles/variables.scss';
@import '~styles/strix-icons.scss';
@import '~styles/utils.scss';

.forgot-password-email-form-container{
  padding: 5rem 6.5rem;
  position: relative;

  .icon-multiply{
    position: absolute;
    top: 30px;
    right: 30px;
    color: $primary-color;
    font-weight: 600;
  }
  h1{
    @include font-properties(24px, $primary-color, 500, 24px);
    margin-bottom: 40px;
    margin-top: 0;
  }
  p{
    @include font-properties(15px, $secondary-color, 400, 15px);
    margin-bottom: 60px;
  }
  .forgot-password-email-form{
    padding: 0;
    text-align: center;

    input[type=email] {
      display: inline-block;
    }
    .btn-continuar{
      background-color: $primary-color;
      font-size: 1em;
      border: 0;
      margin-top: 4rem;
    }
  }
}
